*, *::before, *::after {
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #E7F3FF;
  color: #003366;
  font-size: 1.2rem;
}

#survey-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  max-width: 500px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.header {
  text-align: center;
}

img {
  margin-bottom: -8px;
  width: 40px;
}

p {
   font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 3px solid #B0C4DE;
  margin-bottom: 5px;
}

fieldset:last-of-type {
  border: none;
}

select, textarea {
  display: block;
  margin-top: 10px;
  width: 100%
}

label {
  font-size:1rem;
  margin: 0.5rem 0;
}

input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

input[type="radio"], input[type="checkbox"] {
  display: inline;
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input, select, textarea {
    background-color: #FFFFFF; 
    color: #003366; 
    border: 1px solid #B0C4DE; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

input:focus, 
select:focus, 
textarea:focus {
    outline: none; 
    border: 1px solid #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

button {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494;
}

